<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" class="reportRange" width="100%">
            <tr>
                <td colspan="2" style="font-size: 13px; font-weight: bold;">{{reportRangeTitle}}</td>
            </tr>
            <tr>
                <td width="20"></td>
                <td>{{fromDate}}{{toDate}}</td>
            </tr>
        </table>
    </td>
</tr>
<tr><td>&nbsp;</td></tr>